
.bg-white {
    background-color: #ffffff;
  }
  
  .bg-gold {
    background-color: #fbd743;
  }
  
  .bg-customRed {
    background-color: #ff1f1f;
  }
  
  .bg-customBlue {
    background-color: #5db9ff;
  }
  
  .bg-darkBlue {
    background-color: #363b81;
  }
  